{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.projects.title | default "Projects" }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range .Site.Params.projects.items }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .title }}">
                    <div class="card-head">
                        <img class="card-img-top" src="{{ .image }}" alt="{{ .title }}">
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            {{ range .badges }}
                            <span class="badge badge-secondary">{{ . }}</span>
                            {{ end }}
                        </div>
                        <h5 class="card-title bg-transparent mt-1">{{ .title }}</h5>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .content }}
                        </div>
                    </div>
                    {{ if or (.links) (.featured) }}
                    <div class="card-footer py-3">
                        {{ range .links }}
                        <span class="m-1 mx-2">
                            <a href="{{ .url }}" target="_blank">
                                <i class="{{ .icon }}"></i>
                            </a>
                        </span>
                        {{ end }}
                        {{ if .featured }}
                        <span class="float-end">
                            <a class="btn btn-sm" href="{{ .featured.link }}" target="_blank">
                                {{ .featured.name }}
                            </a>
                        </span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}

            <div class="py-5 align-middle">
                <div class="container px-3 px-sm-5 px-md-5 px-lg-5 pt-lg-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div id="hero-projects" class="row justify-content-center">
                                <div
                                    class="col-sm-12 col-md-9 pt-5 image {{ if .Site.Params.animate }}animate{{ end }} px-5 px-md-5 px-lg-0 text-center">
                                    <img src="{{ .Site.Params.projects.hero.image }}"
                                        class="img-thumbnail mx-auto{{ if .Site.Params.projects.hero.roundImage }} rounded-circle{{ end }}"
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 content {{ if .Site.Params.animate }}animate{{ end }}"
                            id="primary-font">
                            <h3>
                                {{ .Site.Params.projects.hero.title }}
                            </h3>
                            <!-- <h3>
                                {{ .Site.Params.projects.hero.subtitle }}
                            </h3>
                            <p class="hero-content">
                                {{ .Site.Params.hero.content | markdownify }}
                            </p> -->
                            <div class="col-auto h-100">
                                {{ if .Site.Params.projects.hero.button.enable }}
                                <a href="{{ .Site.Params.projects.hero.button.url }}" class="btn">
                                    {{ .Site.Params.projects.hero.button.name }}
                                </a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {{ range ( where .Site.RegularPages "Type" "projects" ) }}
            {{ if .Params.showInHome | default true }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .Title }}">
                    <div class="card-head">
                        <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            {{ range .Params.badges }}
                            <span class="badge badge-secondary">{{ . }}</span>
                            {{ end }}
                        </div>
                        <h5 class="card-title bg-transparent">{{ .Title | truncate 50 }}</h5>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .Summary | truncate 100 | safeHTML }}
                        </div>
                    </div>
                    <div class="card-footer py-3">
                        {{ range .Params.links }}
                        <span class="m-1 mx-2">
                            <a href="{{ .url }}">
                                <i class="{{ .icon }}"></i>
                            </a>
                        </span>
                        {{ end }}
                        <span class="float-end">
                            <a class="btn btn-sm" href="{{ .RelPermalink }}">
                                Know more
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }} -->
        </div>
    </div>
</section>
{{ end }}